#### Add submodule first:
# git submodule add <remote_url> <destination_folder>
# git commit -m "Added the submodule to the project."
# git push

### Update submodules:
# git submodule update --force --recursive --init --remote 

[submodule "oh-my-zsh"]
	path 	= oh-my-zsh
	url 	= https://github.com/ohmyzsh/ohmyzsh.git
	branch 	= master

[submodule "fzf-tab"]
	path 	= oh-my-zsh/custom/plugins/fzf-tab
	url 	= https://github.com/Aloxaf/fzf-tab

[submodule "zsh-autosuggestions"]
	path 	= oh-my-zsh/custom/plugins/zsh-autosuggestions
	url 	= https://github.com/zsh-users/zsh-autosuggestions.git
